<nav>
    <a href="{% url 'home' %}"><i class="fas fa-home"></i> Главная</a>
    <a href="{% url 'dashboard_redirect' %}"><i class="fas fa-user"></i> Кабинет</a>
    <a href="{% url 'add_course' %}"><i class="fas fa-chalkboard-teacher"></i> Создать курс</a>
    <a href="{% url 'add_lecture_material' %}"><i class="fas fa-file-upload"></i> Добавить материал</a>
    <a href="{% url 'answer_questions' %}"><i class="fas fa-question-circle"></i> Вопросы</a>
    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Выход</a>
</nav>
